body {
    max-width: 1000px;
}

input[type=text],
input[type=tel],
input[type=email],
select {
    width: 100%;
}

.svg {
    vertical-align: top;
    height: 2rem;
    width: 2rem;
}

.divdatabela {
    overflow-x: auto;
    width: 100%;
}

.tabela {
    width: 100%;
    table-layout: fixed;
}