body {
    max-width: 1000px;
}

input[type=text],
input[type=tel],
input[type=email],
select {
    width: 100%;
}

.svg {
    vertical-align: top;
    height: 2.25rem;
    width: 2.25rem;
}

@media only screen and (orientation: portrait) {
    table {
        display: block;
        table-layout: fixed;
        overflow-x: auto;
        white-space: nowrap;
    }
}